$colors: (
    //  1.primary
    primary: #0d6efd,
    light-primary: #5d92e1,
    dark-primary: #0356d3,
    // 2.secondary
    secondary: #868e96,
    light-secondary: #adb6be,
    dark-secondary: #72797f,
    // 3.success
    success: #5cb85c,
    light-success: #8ddf8d,
    dark-success: #4caf4c,
    // white
    white: #ffffff,
    light-white: #f8f9fa,
    dark-white: #dee2e6,
    // 4.light
    light: #e9ecef,
    light-light: #f8f9fa,
    dark-light: #dee2e6,
    // 5.muted
    muted: #b7bfc7,
    light-muted: #c6cace,
    dark-muted: #9fa0a6,
    // 6.dark
    dark: #343a40,
    light-dark: #4a4a4a,
    dark-dark: #2f353d,
    // 7.info
    info: #5bc0de,
    light-info: #9ed2e6,
    dark-info: #41aed5,
    // 8.link
    link: #31b0d5,
    light-link: #45b4d6,
    dark-link: #31b0d5,
    // 9.warning
    warning: #ffc107,
    light-warning: #ffed4a,
    dark-warning: #e0a800,
    // 10.danger
    danger: #dc3545,
    light-danger: #ff6b6b,
    dark-danger: #c82333,
    // 11.transparent
    transparent: transparent,
    // 12.black
    black: #000000,
    // 13.gray
    gray: #6c757d,
    light-gray: #adb5bd,
    dark-gray: #495057,

);