// loop through the array and create a class for each color
@each $name, $color in $defaultColors {
  .text-#{$name} {
      color: $color !important;
    }
  
    .bg-#{$name} {
      background-color: $color !important;
      width: fit-content;
    }
  
    .bd-#{$name} {
      border: 2px solid $color !important;
    }
  
    .btn-#{$name} {
      color: #000;
      background-color: $color;
      border-color: $color;
    }
  
    .btn-#{$name}:hover {
      color: #ffffff;
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);
    }
  
    .btn-outline-#{$name} {
      color: $color;
      border-color: $color;
    }
  
    .btn-outline-#{$name}:hover {
      color: #ffffff;
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);
    }
  
    // light colors
    .text-light-#{$name} {
      color: lighten($color, 30%) !important;
    }
  
    .bg-light-#{$name} {
      background-color: lighten($color, 30%) !important;
      width: fit-content;
    }
  
    .bd-light-#{$name} {
      border: 2px solid lighten($color, 30%) !important;
    }
  
    .btn-light-#{$name} {
      color: #000;
      background-color: lighten($color, 30%);
      border-color: lighten($color, 30%);
    }
  
    .btn-light-#{$name}:hover {
      color: #ffffff;
      background-color: darken(lighten($color, 30%), 10%);
      border-color: darken(lighten($color, 30%), 10%);
    }
  
    .btn-outline-light-#{$name} {
      color: lighten($color, 30%);
      border-color: lighten($color, 30%);
    }
  
    .btn-outline-light-#{$name}:hover {
      color: #ffffff;
      background-color: darken(lighten($color, 30%), 10%);
      border-color: darken(lighten($color, 30%), 10%);
    }
  
    // dark colors
    .text-dark-#{$name} {
      color: darken($color, 15%) !important;
    }
  
    .bg-dark-#{$name} {
      background-color: darken($color, 15%) !important;
      width: fit-content;
    }
  
    .bd-dark-#{$name} {
      border: 2px solid darken($color, 15%) !important;
    }
  
    .btn-dark-#{$name} {
      color: #000;
      background-color: darken($color, 15%);
      border-color: darken($color, 15%);
    }
  
    .btn-dark-#{$name}:hover {
      color: #ffffff;
      background-color: darken(darken($color, 15%), 10%);
      border-color: darken(darken($color, 15%), 10%);
    }
  
    .btn-outline-dark-#{$name} {
      color: darken($color, 15%);
      border-color: darken($color, 15%);
    }
  
    .btn-outline-dark-#{$name}:hover {
      color: #ffffff;
      background-color: darken(darken($color, 15%), 10%);
      border-color: darken(darken($color, 15%), 10%);
    }

}

// loop through the array and create a class for each color
@each $name,$color in $extends_colors {
  .text-#{$name} {
    color: $color !important;
  }

  .bg-#{$name} {
    background-color: $color !important;
    width: fit-content;
  }

  .bd-#{$name} {
    border: 2px solid $color !important;
  }

  .btn-#{$name} {
    color: #000;
    background-color: $color;
    border-color: $color;
  }

  .btn-#{$name}:hover {
    color: #ffffff;
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }

  .btn-outline-#{$name} {
    color: $color;
    border-color: $color;
  }

  .btn-outline-#{$name}:hover {
    color: #ffffff;
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }

  // light colors
  .text-light-#{$name} {
    color: lighten($color, 30%) !important;
  }

  .bg-light-#{$name} {
    background-color: lighten($color, 30%) !important;
    width: fit-content;
  }

  .bd-light-#{$name} {
    border: 2px solid lighten($color, 30%) !important;
  }

  .btn-light-#{$name} {
    color: #000;
    background-color: lighten($color, 30%);
    border-color: lighten($color, 30%);
  }

  .btn-light-#{$name}:hover {
    color: #ffffff;
    background-color: darken(lighten($color, 30%), 10%);
    border-color: darken(lighten($color, 30%), 10%);
  }

  .btn-outline-light-#{$name} {
    color: lighten($color, 30%);
    border-color: lighten($color, 30%);
  }

  .btn-outline-light-#{$name}:hover {
    color: #ffffff;
    background-color: darken(lighten($color, 30%), 10%);
    border-color: darken(lighten($color, 30%), 10%);
  }

  // dark colors
  .text-dark-#{$name} {
    color: darken($color, 15%) !important;
  }

  .bg-dark-#{$name} {
    background-color: darken($color, 15%) !important;
    width: fit-content;
  }

  .bd-dark-#{$name} {
    border: 2px solid darken($color, 15%) !important;
  }

  .btn-dark-#{$name} {
    color: #000;
    background-color: darken($color, 15%);
    border-color: darken($color, 15%);
  }

  .btn-dark-#{$name}:hover {
    color: #ffffff;
    background-color: darken(darken($color, 15%), 10%);
    border-color: darken(darken($color, 15%), 10%);
  }

  .btn-outline-dark-#{$name} {
    color: darken($color, 15%);
    border-color: darken($color, 15%);
  }

  .btn-outline-dark-#{$name}:hover {
    color: #ffffff;
    background-color: darken(darken($color, 15%), 10%);
    border-color: darken(darken($color, 15%), 10%);
  }
}

