// loop through the array and create a class for each color
@each $name, $color in $colors {
  .text-#{$name} {
    color: $color !important;
  }
  .bg-#{$name} {
    background-color: $color !important;
    width: fit-content;
  }
  .bd-#{$name} {
    border: 2px solid $color !important;
  } 
  .btn-#{$name} {
    color: #000;
    background-color: $color;
    border-color: $color;
  }
  .btn-#{$name}:hover {
    color: #ffffff;
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }
  .btn-outline-#{$name} {
    color: $color;
    border-color: $color;
  }
  .btn-outline-#{$name}:hover {
    color: #ffffff;
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }

}

