$defaultColors: (
    // Default colors
    //  1.primary
    primary: #0D6EFD,
    light-primary: #5d92e1,
    dark-primary: #0552c5,
    // 2.secondary
    secondary: #868E96,
    light-secondary: #adb6be,
    dark-secondary: #646b71,
    // 3.success
    success: #5CB85C,
    light-success: #8ddf8d,
    dark-success: #419a41,
    // white
    white: #ffffff,
    light-white: #f8f9fa,
    dark-white: #dee2e6,
    // 4.light
    light: #F8F9FA,
    light-light: #f8f9fa,
    dark-light: #dee2e6,
    // // 5.muted
    muted: #B7BFC7,
    light-muted: #c6cace,
    dark-muted: #8c9195,
    // // 6.dark
    dark: #343A40,
    light-dark: #4a4a4a,
    dark-dark: #1c1f22,
    // // 7.info
    info: #007BFF,
    light-info: #419af9,
    dark-info: #004a9a,
    // // 8.link
    link: #31B0D5,
    light-link: #66bfda,
    dark-link: #11a7d5,
    // // 9.warning
    warning: #F0AD4E,
    light-warning: #fff069,
    dark-warning: #F0AD4E,
    // // 10.danger
    danger: #D9534F,
    light-danger: #df7470,
    dark-danger: #dc3c36,
    // // 11.transparent
    transparent: transparent,

);