$defaultColors: (
    // Default colors
    primary: #0D6EFD,
    secondary: #868E96,
    success: #5CB85C,
    white: #ffffff,
    light: #F8F9FA,
    muted: #B7BFC7,
    dark: #343A40,
    info: #007BFF,
    link: #31B0D5,
    warning: #F0AD4E,
    danger: #D9534F,
    transparent: transparent,
);