$extends_colors: (
    ruby: #E0115F,
    pink: #e83e8c,
    mulberry: #C44B8A,
    hot: #F81895,
    french: #F74A8A,
    cerise: #DC3062,
    punch: #EC5578,
    rose: #FF67CC,
    lemonade: #FCB9C7,
    magenta: #FE008F,
    thulian: #DF6FA1,
    fuchsia: #FF00FE,
    brick: #FB6080,
    ultra: #FF70FE,
    amaranth: #F19CBB,
    bubble-gum: #FE5BAC,
    flamingo: #FCA3B7,
    carnation: #FFA5C9,
    taffy: #F986C2,
    creamy: #FE6AB4,
    lavender: #F9D2E5,
    violet: #B100EC,
    mulberry: #C54B8A,
    hibiscus: #B43757,
    plum: #8C4484,
    grape: #6E2CA8,
    amethyst: #9965CA,
    eggplant: #311433,
    orchid: #B068EE,
    lollipop: #81007F,
    lavender: #E4A0F6,
    fandango: #B4328A,
);