$extends_colors: (
    // extends colors
    //  1.pink
    pink: #e83e8c,
    light-pink: #f8d7da,
    dark-pink: #c8236c,
    // 2.violet
    violet: #B200EC,
    light-violet: #b863d4,
    dark-violet: #7700a5,

);