// pink
$light-pink: #e15dae;
$light-pink-hover: #e352ab;
$pink: #e352ab;
$pink-hover: #e84aab;
$dark-pink: #e84aab;
$dark-pink-hover: #eb259f;
// violet
$light-violet: #bd4be2;
$light-violet-hover: #b200ec;
$violet: #b200ec;
$violet-hover: #008000;
$dark-violet: #9806c9;
$dark-violet-hover: #730597;
// green
$light-green: #099e09;
$light-green-hover: #008000;
$green: #008000;
$green-hover: #026702;
$dark-green: #026702;
$dark-green-hover: #025602;
// orange
$light-orange: #ff8c00;
$light-orange-hover: #fb6600;
$orange: #fb6600;
$orange-hover: #dd5f0b;
$dark-orange: #dd5f0b;
$dark-orange-hover: #a2450b;
// red
$light-red: #fa1b1b;
$light-red-hover: #ff0000;
$red: #ff0000;
$red-hover: #d90606;
$dark-red: #d90606;
$dark-red-hover: #c00909;
// yellow
$light-yellow: #ffff5a;
$light-yellow-hover: #fdfd34;
$yellow: #fdfd34;
$yellow-hover: #fff30d;
$dark-yellow: #fff30d;
$dark-yellow-hover: #ede101;
// blue
$light-blue: #263cfc;
$light-blue-hover: #0019f9;
$blue: #0019f9;
$blue-hover: #041adb;
$dark-blue: #041adb;
$dark-blue-hover: #0213ad;
// brown
$light-brown: #cc3737;
$light-brown-hover: #8c1f1f;
$brown: #8c1f1f;
$brown-hover: #6c1a1a;
$dark-brown: #6c1a1a;
$dark-brown-hover: #4c1515;

// ruby
$light-ruby: #de266c;
$light-ruby-hover: #e0115f;
$ruby: #e0115f;
$ruby-hover: #e30057;
$dark-ruby: #e30057;
$dark-ruby-hover: #fc0061;

// mulberry
$light-mulberry: #c64c89;
$light-mulberry-hover: #c64c89;
$mulberry: #c64c89;
$mulberry-hover: #bb3c7c;
$dark-mulberry: #c64c89;
$dark-mulberry-hover: #c64c89;
