/* green */
.text-green {
  color: $green !important;
}
.bg-green {
  background-color: $green !important;
  width: fit-content;
}
.bd-green {
  border: 2px solid $green !important;
}
.btn-green {
  color: $black;
  background-color: $green;
  border-color: $green;
  &:hover {
    color: $white;
    background-color: $green-hover;
    border-color: $green-hover;
  }
}
.btn-outline-green {
  color: $green;
  border-color: $green;
  &:hover {
    color: $white;
    background-color: $green-hover;
    border-color: $green-hover;
  }
}

/* light-green*/
.text-light-green {
  color: $light-green !important;
}
.bg-light-green {
  background-color: $light-green !important;
  width: fit-content;
}
.bd-light-green {
  border: 2px solid $light-green !important;
}
.btn-light-green {
  color: $black;
  background-color: $light-green;
  border-color: $light-green;
  &:hover {
    color: $white;
    background-color: $light-green-hover;
    border-color: $light-green-hover;
  }
}
.btn-outline-light-green {
  color: $light-green;
  border-color: $light-green;
  &:hover {
    color: $white;
    background-color: $light-green-hover;
    border-color: $light-green-hover;
  }
}

/* dark-green*/
.text-dark-green {
  color: $dark-green !important;
}
.bg-dark-green {
  background-color: $dark-green !important;
  width: fit-content;
}
.bd-dark-green {
  border: 2px solid $dark-green !important;
}
.btn-dark-green {
  color: $black;
  background-color: $dark-green;
  border-color: $dark-green;
  &:hover {
    color: $white;
    background-color: $dark-green-hover;
    border-color: $dark-green-hover;
  }
}
.btn-outline-dark-green {
  color: $dark-green;
  border-color: $dark-green;
  &:hover {
    color: $white;
    background-color: $dark-green-hover;
    border-color: $dark-green-hover;
  }
}
