/* mulberry */
.text-mulberry {
  color: $mulberry !important;
}
.bg-mulberry {
  background-color: $mulberry !important;
  width: fit-content;
}
.bd-mulberry {
  border: 2px solid $mulberry !important;
}
.btn-mulberry {
  color: $black;
  background-color: $mulberry;
  border-color: $mulberry;
  &:hover {
    color: $white;
    background-color: $mulberry-hover;
    border-color: $mulberry-hover;
  }
}
.btn-outline-mulberry {
  color: $mulberry;
  border-color: $mulberry;
  &:hover {
    color: $white;
    background-color: $mulberry-hover;
    border-color: $mulberry-hover;
  }
}

/* light-mulberry*/
.text-light-mulberry {
  color: $light-mulberry !important;
}
.bg-light-mulberry {
  background-color: $light-mulberry !important;
  width: fit-content;
}
.bd-light-mulberry {
  border: 2px solid $light-mulberry !important;
}
.btn-light-mulberry {
  color: $black;
  background-color: $light-mulberry;
  border-color: $light-mulberry;
  &:hover {
    color: $white;
    background-color: $light-mulberry-hover;
    border-color: $light-mulberry-hover;
  }
}
.btn-outline-light-mulberry {
  color: $light-mulberry;
  border-color: $light-mulberry;
  &:hover {
    color: $white;
    background-color: $light-mulberry-hover;
    border-color: $light-mulberry-hover;
  }
}

/* dark-mulberry*/
.text-dark-mulberry {
  color: $dark-mulberry !important;
}
.bg-dark-mulberry {
  background-color: $dark-mulberry !important;
  width: fit-content;
}
.bd-dark-mulberry {
  border: 2px solid $dark-mulberry !important;
}
.btn-dark-mulberry {
  color: $black;
  background-color: $dark-mulberry;
  border-color: $dark-mulberry;
  &:hover {
    color: $white;
    background-color: $dark-mulberry-hover;
    border-color: $dark-mulberry-hover;
  }
}
.btn-outline-dark-mulberry {
  color: $dark-mulberry;
  border-color: $dark-mulberry;
  &:hover {
    color: $white;
    background-color: $dark-mulberry-hover;
    border-color: $dark-mulberry-hover;
  }
}
