/* pink*/
.text-pink {
  color: $pink !important;
}
.bg-pink {
  background-color: $pink !important;
  width: fit-content;
}
.bd-pink {
  border: 2px solid $pink !important;
}
.btn-pink {
  color: $black;
  background-color: $pink;
  border-color: $pink;
  &:hover {
    color: $white;
    background-color: $pink-hover;
    border-color: $pink-hover;
  }
}
.btn-outline-pink {
  color: $pink;
  border-color: $pink;
  &:hover {
    color: $white;
    background-color: $pink-hover;
    border-color: $pink-hover;
  }
}

/* light-pink*/
.text-light-pink {
  color: $light-pink !important;
}
.bg-light-pink {
  background-color: $light-pink !important;
  width: fit-content;
}
.bd-light-pink {
  border: 2px solid $light-pink !important;
}
.btn-light-pink {
  color: $black;
  background-color: $light-pink;
  border-color: $light-pink;
  &:hover {
    color: $white;
    background-color: $light-pink-hover;
    border-color: $light-pink-hover;
  }
}
.btn-outline-light-pink {
  color: $light-pink;
  border-color: $light-pink;
  &:hover {
    color: $white;
    background-color: $light-pink-hover;
    border-color: $light-pink-hover;
  }
}

/* dark-pink*/
.text-dark-pink {
  color: $dark-pink !important;
}
.bg-dark-pink {
  background-color: $dark-pink !important;
  width: fit-content;
}
.bd-dark-pink {
  border: 2px solid $dark-pink !important;
}
.btn-dark-pink {
  color: $black;
  background-color: $dark-pink;
  border-color: $dark-pink;
  &:hover {
    color: $white;
    background-color: $dark-pink-hover;
    border-color: $dark-pink-hover;
  }
}
.btn-outline-dark-pink {
  color: $dark-pink;
  border-color: $dark-pink;
  &:hover {
    color: $white;
    background-color: $dark-pink-hover;
    border-color: $dark-pink-hover;
  }
}
