// defaults
$black: #000;
// primary
$primary-light: #5d92e1;
$primaryLightHover: #0d6efd;
$primary: #0d6efd;
$primaryHover: #0356d3;
$primary-dark: #0356d3;
$primaryDarkHover: #0a49ae;
// secondary
$secondary-light: #adb6be;
$secondaryLightHover: #868e96;
$secondary: #868e96;
$secondaryHover: #72797f;
$secondary-dark: #72797f;
$secondaryDarkHover: #5a5f64;
// success
$success-light: #8ddf8d;
$successLightHover: #5cb85c;
$success: #5cb85c;
$successHover: #4c9f4c;
$success-dark: #4caf4c;
$successDarkHover: #3c9f3c;
// white
$white-light: #f8f9fa;
$whiteLightHover: #e9ecef;
$white: #ffffff;
$whiteHover: #dee2e6;
$white-dark: #dee2e6;
$whiteDarkHover: #ced4da;
// light
$light-light: #f8f9fa;
$lightLightHover: #e9ecef;
$light: #e9ecef;
$lightHover: #dee2e6;
$light-dark: #dee2e6;
$lightDarkHover: #ced4da;
// muted
$muted-light: #c6cace;
$mutedLightHover: #b7bfc7;
$muted: #b7bfc7;
$mutedHover: #9fa0a6;
$muted-dark: #9fa0a6;
$mutedDarkHover: #858f98;
// dark
$dark-light: #4a4a4a;
$darkLightHover: #343a40;
$dark: #343a40;
$darkHover: #2f353d;
$dark-dark: #2f353d;
$darkDarkHover: #2f353d;
// info
$light-info: #9ed2e6;
$lightInfoHover: #5bc0de;
$info: #5bc0de;
$infoHover: #41aed5;
$dark-info: #41aed5;
$darkInfoHover: #24a8d8;
// link
$light-link: #45b4d6;
$lightLinkHover: #31b0d5;
$link: #31b0d5;
$linkHover: #2f8ec9;
$dark-link: #2f8ec9;
$darkLinkHover: #248ccc;
// warning
$light-warning: #f8c979;
$lightWarningHover: #f0ad4e;
$warning: #f0ad4e;
$warningHover: #ed9e2f;
$dark-warning: #ed9e2f;
$darkWarningHover: #ef9518;
// danger
$light-danger: #e98e89;
$lightDangerHover: #d9534f;
$danger: #d9534f;
$dangerHover: #d9342e;
$dark-danger: #d9342e;
$darkDangerHover: #df1c15;
