// info
.text-info {
  color: $info !important;
}
.bg-info {
  background-color: $info !important;
  width: fit-content;
}
.bd-info {
  border: 2px solid $info !important;
}
.btn-info {
  color: $black;
  background-color: $info;
  border-color: $info;
  &:hover {
    color: $dark;
    background-color: $infoHover;
    border-color: $infoHover;
  }
}
.btn-outline-info {
  color: $info;
  border-color: $info;
  &:hover {
    color: $black;
    background-color: $infoHover;
    border-color: $infoHover;
  }
}
// light-info
.text-light-info {
  color: $light-info !important;
}
.bg-light-info {
  background-color: $light-info !important;
  width: fit-content;
}
.bd-light-info {
  border: 2px solid $light-info !important;
}
.btn-light-info {
  color: $black;
  background-color: $light-info;
  border-color: $light-info;
  &:hover {
    color: $dark;
    background-color: $lightInfoHover;
    border-color: $lightInfoHover;
  }
}
.btn-outline-light-info {
  color: $light-info;
  border-color: $light-info;
  &:hover {
    color: $black;
    background-color: $lightInfoHover;
    border-color: $lightInfoHover;
  }
}
// dark-info
.text-dark-info {
  color: $dark-info !important;
}
.bg-dark-info {
  background-color: $dark-info !important;
  width: fit-content;
}
.bd-dark-info {
  border: 2px solid $dark-info !important;
}
.btn-dark-info {
  color: $white;
  background-color: $dark-info;
  border-color: $dark-info;
  &:hover {
    color: $light;
    background-color: $darkInfoHover;
    border-color: $darkInfoHover;
  }
}
.btn-outline-dark-info {
  color: $dark-info;
  border-color: $dark-info;
  &:hover {
    color: $white;
    background-color: $darkInfoHover;
    border-color: $darkInfoHover;
  }
}
