/* light  */
.text-light {
  color: $light !important;
}
.bg-light {
  background-color: $light !important;
  width: fit-content;
}
.bd-light {
  border: 2px solid $light !important;
}
.btn-light {
  color: $black;
  background-color: $light;
  border-color: $light;
  &:hover {
    color: $black;
    background-color: $lightHover;
    border-color: $lightHover;
  }
}
.btn-outline-light {
  color: $light;
  border-color: $light;
  &:hover {
    color: $black;
    background-color: $lightHover;
    border-color: $lightHover;
  }
}
// light-light
.text-light-light {
  color: $light-light !important;
}
.bg-light-light {
  background-color: $light-light !important;
  width: fit-content;
}
.bd-light-light {
  border: 2px solid $light-light !important;
}
.btn-light-light {
  color: $black;
  background-color: $light-light;
  border-color: $light-light;
  &:hover {
    color: $black;
    background-color: $lightLightHover;
    border-color: $lightLightHover;
  }
}
.btn-outline-light-light {
  color: $light-light;
  border-color: $light-light;
  &:hover {
    color: $black;
    background-color: $lightLightHover;
    border-color: $lightLightHover;
  }
}
// light-dark
.text-light-dark {
  color: $light-dark !important;
}
.bg-light-dark {
  background-color: $light-dark !important;
  width: fit-content;
}
.bd-light-dark {
  border: 2px solid $light-dark !important;
}
.btn-light-dark {
  color: $black;
  background-color: $light-dark;
  border-color: $light-dark;
  &:hover {
    color: $black;
    background-color: $lightDarkHover;
    border-color: $lightDarkHover;
  }
}
.btn-outline-light-dark {
  color: $light-dark;
  border-color: $light-dark;
  &:hover {
    color: $black;
    background-color: $lightDarkHover;
    border-color: $lightDarkHover;
  }
}
