/* link */
.text-link {
  color: $link !important;
}
.bg-link {
  background-color: $link !important;
  width: fit-content;
}
.bd-link {
  border: 2px solid $link !important;
}
.btn-link {
  color: $black;
  background-color: $link;
  border-color: $link;
  &:hover {
    color: $dark;
    background-color: $linkHover;
    border-color: $linkHover;
  }
}
.btn-outline-link {
  color: $link;
  border-color: $link;
  &:hover {
    color: $black;
    background-color: $linkHover;
    border-color: $linkHover;
  }
}
/* light-link */
.text-light-link {
  color: $light-link !important;
}
.bg-light-link {
  background-color: $light-link !important;
  width: fit-content;
}
.bd-light-link {
  border: 2px solid $light-link !important;
}
.btn-light-link {
  color: $black;
  background-color: $light-link;
  border-color: $light-link;
  &:hover {
    color: $dark;
    background-color: $lightLinkHover;
    border-color: $lightLinkHover;
  }
}
.btn-outline-light-link {
  color: $light-link;
  border-color: $light-link;
  &:hover {
    color: $black;
    background-color: $lightLinkHover;
    border-color: $lightLinkHover;
  }
}
/* dark-link */
.text-dark-link {
  color: $dark-link !important;
}
.bg-dark-link {
  background-color: $dark-link !important;
  width: fit-content;
}
.bd-dark-link {
  border: 2px solid $dark-link !important;
}
.btn-dark-link {
  color: $white;
  background-color: $dark-link;
  border-color: $dark-link;
  &:hover {
    color: $white;
    background-color: $darkLinkHover;
    border-color: $darkLinkHover;
  }
}
.btn-outline-dark-link {
  color: $dark-link;
  border-color: $dark-link;
  &:hover {
    color: $white;
    background-color: $darkLinkHover;
    border-color: $darkLinkHover;
  }
}
