/* success */
.text-success {
  color: $success !important;
}
.bg-success {
  background-color: $success !important;
  width: fit-content;
}
.bd-success {
  border: 2px solid $success !important;
}
.btn-success {
  color: $white;
  background-color: $success;
  border-color: $success;
  &:hover {
    color: $white;
    background-color: $successHover;
    border-color: $successHover;
  }
}
.btn-outline-success {
  color: $success;
  border-color: $success;
  &:hover {
    color: $white;
    background-color: $successHover;
    border-color: $successHover;
  }
}
/* light-success */
.text-light-success {
  color: $success-light !important;
}
.bg-light-success {
  background-color: $success-light !important;
  width: fit-content;
}
.bd-light-success {
  border: 2px solid $success-light !important;
}
.btn-light-success {
  color: $white;
  background-color: $success-light;
  border-color: $success-light;
  &:hover {
    color: $white;
    background-color: $successLightHover;
    border-color: $successLightHover;
  }
}
.btn-outline-light-success {
  color: $success-light;
  border-color: $success-light;
  &:hover {
    color: $white;
    background-color: $successLightHover;
    border-color: $successLightHover;
  }
}
/* dark-success */
.text-dark-success {
  color: $success-dark !important;
}
.bg-dark-success {
  background-color: $success-dark !important;
  width: fit-content;
}
.bd-dark-success {
  border: 2px solid $success-dark !important;
}
.btn-dark-success {
  color: $white;
  background-color: $success-dark;
  border-color: $success-dark;
  &:hover {
    color: $white;
    background-color: $successDarkHover;
    border-color: $successDarkHover;
  }
}
.btn-outline-dark-success {
  color: $success-dark;
  border-color: $success-dark;
  &:hover {
    color: $white;
    background-color: $successDarkHover;
    border-color: $successDarkHover;
  }
}
